@import '../../assets/scss/';
.wrapper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    .pagination {
        .page-item {
            .page-link {
                padding:0;
                height: 35px;
                width: 35px;
                margin-right: 10px;
                border: 1px solid #eef0f6;
                border-radius: 0;
                line-height: 35px;
                text-align: center;
                text-decoration: none;
                transition: all 0.4s ease;
                display: block;
                color: $theme-text-color;
                font-size: 14px;
                border-radius: 5px;
                background-color: #fff;
                &:not(:disabled) {
                    &:hover {
                        background: $theme-primary-color;
                        color: #fff;
                    }
                  }
            }
            .active {
                background: $theme-primary-color;
                color: #fff !important;
            }
    
        }
    }
}
