@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");

/*--------------------
 COLORS
-----------------*/
$theme-primary-color: #F14D5D;
$theme-secondary-color: #015ABD;
$theme-heading-color: #14133b;
$theme-text-color: #77838F;
$theme-white-color: #fff;
$theme-border-color: #ddd;

/*--------------------
 FONT FAMILLY
-----------------*/
$theme-heading-font: 'Gilroy', sans-serif;
$theme-secondary-font: 'Jost', sans-serif;

/*--------------------
 FONT SIZE
-----------------*/
$fs-sm: 14px;
$fs-6: 16px;
$fs-5: 18px;
$fs-4: 22px;
$fs-3: 28px;
$fs-2: 32px;
$fs-1: 46px;

/*--------------------
 FONT WEIGHT
-----------------*/
$fw-600: 600;
$fw-400: 400;
$fw-700: 700;
$fw-normal: normal;

/*=====================================
SPACING
===================================*/
$spc-10: 10px;
$spc-20: 20px;
$spc-30: 30px;
$spc-40: 40px;
$spc-50: 50px;
$spc-60: 60px;
$spc-70: 70px;
$spc-80: 80px;
$spc-90: 90px;
$spc-100: 100px;
$spc-120: 120px;
$spc-150: 150px;
$spc-210: 210px;
$spc-250: 250px;
$spc--120: -120px;
$spc--200: -200px;
$spc--300: -300px;

/*=====================================
LINE HEIGHT
===================================*/
$lh-50: 50px;
$lh-53: 53px;
$lh-20: 20px;
$lh-40: 40px;
$lh-60: 60px;
$lh-1: 1;

/*=====================================
BORDER
===================================*/
$b-solid: 1px solid;
$b-0: 0;

/*=====================================
BORDER RADIUS
===================================*/
$br-4: 4px;
$br-3: 4px;
$br-5: 5px;
$br-10: 10px;
$br-35: 35px;
$br-100: 100%;

/*=====================================
BREAK POINT
===================================*/
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$breakpoints: (
    "lg": $lg,
    "md": $md,
    'sm': $sm,
    "xs": $xs,
);