*.jpg
*.png
*.scss
*.css
*.svg
*.ico
*.html
*.txt
*.jsx
*.js
reportWebVitals.ts
tailwind.config.js
postcss.config.js
rollup.config.js
setup
lib
build
.storybook
node_modules
webpack.config.js
commitlint.config.js