/*-------------------
BUTTONS STYLE
----------------=----*/
@import '../../../assets/scss/index.scss';

@mixin button-hover($bg-c: $theme-primary-color, $c: #fff) {
  border-color: $bg-c;
  color: $c;
  background: $bg-c;
}

.btn {
  @include button(#fff, $theme-primary-color, 0);
  position: relative;
  text-transform: capitalize;
  transition: all 0.6s ease;

  &:focus {
    box-shadow: none !important;
  }
}

.btn-radius {
  border-radius: 35px;
}

.btn-main {
  @include button-hover();

  &:not(:disabled) {
    &:hover {
      @include button-hover($theme-secondary-color);
    }
  }

}

.btn-main-2 {
  @include button-hover($theme-secondary-color);

  &:not(:disabled) {
    &:hover {
      @include button-hover();
    }
  }
}

.btn-main-outline {
  background: transparent;
  color: $theme-primary-color;
  border-color: $theme-primary-color;
  &:not(:disabled) {
    &:hover {
      @include button-hover();
    }
  }

}

.btn-main2-outline {
  background: transparent;
  color: #fff;
  border-color: $theme-primary-color;
  &:not(:disabled) {
    &:hover {
      @include button-hover();
    }
  }
}

.btn-white {
  background: #fff;
  border-color: #fff;
  color: $theme-primary-color;

}

.btn-white-outline {
  background: transparent;
  border-color: #fff;
  color: #fff;

  &:not(:disabled) {
    &:hover {
      @include button-hover();
    }
  }


}

.btn-grey {
  border-color: #ddd;
  color: #222;
  background: #ddd;

  &:not(:disabled) {
    &:hover {
      @include button-hover();
    }
  }
}

.btn-grey-outline {
  border-color: #ddd;
  background: transparent;

  &:hover {
    @include button-hover();
  }
}

.btn-sm {
  padding: 8px 22px;
}

.btn-sm-2 {
  padding: 6px 22px;
}